@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    font-family: 'IBM Plex sans';
}

:root {
    --primary-color: #ffdb39;
}

body {
    background-image: url(assets/body-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 1;
}

.header-wrapper {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #1e1e1e;

    overflow: hidden;
}